// Background Colors
$bk-main: rgb(10, 25, 48);
$bk-secondary: rgb(17, 34, 64);

// Theme Colors
// $theme-main: rgb(92, 225, 230);
$theme-main: rgb(243, 198, 16);

// Text Colors
$text-main: rgb(196, 206, 238);
$text-secondary: rgb(130, 141, 175);

// Font Sizes
$heading: 25px;
$sub-heading: 22.5px;
