@use "../assets/variables" as v;

.AboutMe {
  background-color: v.$bk-blue;
  padding: 0 clamp(2.5rem, 8vw, 6rem) clamp(2rem, 10vh, 6rem)
    clamp(2.5rem, 10vw, 10rem);

  .section-title {
    padding-bottom: 15px;
    color: v.$main-grey;
    .numbering {
      color: v.$main-blue;
    }
  }
  .section-title::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: clamp(100px, 20vw, 500px);
    height: 1px;
    margin-left: 20px;
    background-color: rgb(69, 75, 94);
  }

  .aboutme-main {
    padding-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .aboutme-picture {
      width: clamp(225px, 70vw, 275px);
      // min-height: 225px;
      height: clamp(225px, 70vw, 275px);

      background-image: url("https://res.cloudinary.com/de2ymful4/image/upload/v1646101675/main-portfolio/mug_ygcejn.png");
      background-position: center;
      background-size: cover;
    }
    .aboutme-information {
      max-width: 500px;
      .info {
        color: v.$text-grey;
        padding-bottom: 15px;
      }
    }
  }

  .skills-title {
    padding-bottom: 10px;
    color: v.$text-grey;
    text-align: center;
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

.SkillCard {
  width: 90px;
  height: 90px;

  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }
  p {
    font-size: 14px;
    margin-top: auto;
    color: v.$text-grey;
  }
}
