@use "../assets/variables" as v;

.Contact {
  height: 100vh;
  padding: 10px;

  background-color: v.$bk-main;
  color: v.$text-main;

  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-size: v.$heading;
    color: v.$text-main;
    text-align: center;
    .numbering {
      font-size: v.$heading;
      color: v.$theme-main;
    }
  }
  .section-title::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: clamp(60px, 20vw, 500px);
    height: 1px;
    margin-left: 20px;
    background-color: rgb(69, 75, 94);
  }

  .contact-me {
    padding-top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-me {
      padding-bottom: 10px;
      text-align: center;
      font-size: v.$heading * 1.5;
    }
    .status {
      padding-bottom: 50px;
      text-align: center;
      max-width: 550px;
    }
    address {
      max-width: 175px;
      border: solid 2px v.$theme-main;
      border-radius: 5px;
      color: v.$theme-main;
      padding: 1rem 3rem;
      background-color: transparent;
      cursor: pointer;
    }
    address:hover {
      background-color: rgb(92, 225, 230, 0.2);
    }
  }

  .contact-links {
    min-width: 320px;
    margin-top: auto;

    display: flex;
    justify-content: space-around;
    .icon {
      cursor: pointer;
      color: v.$theme-main;
      font-size: v.$heading;
      transition: transform 0.5s;
    }
    .icon:hover {
      cursor: pointer;
      transform: scale(1.2);
      color: v.$theme-main;
    }
  }
}
