@use "../assets/variables" as v;

.Intro {
  height: calc(100vh - 100px);
  padding: 0 clamp(2.5rem, 8vw, 6rem) clamp(2rem, 10vh, 6rem)
    clamp(2.5rem, 10vw, 10rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5px;

  .sub-intro {
    color: v.$theme-main;
  }
  h1 {
    color: v.$text-main;
    font-size: clamp(25px, 8vw, 65px);
  }
  .role,
  .description {
    color: rgb(130, 141, 175);
  }
  .description {
    padding-bottom: 15px;
    max-width: 550px;
  }

  button {
    max-width: 175px;
    border: solid 2px v.$theme-main;
    border-radius: 5px;
    color: v.$theme-main;
    padding: 1rem 3rem;
    background-color: transparent;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(92, 225, 230, 0.2);
  }
}
