@use "../assets/variables" as v;
@import "./navbar";
@import "./aboutme";

* {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:visited,
a {
  color: inherit;
  text-decoration: none;
}

.Portfolio {
  height: 100vh;
  background-color: v.$bk-blue;
}
